.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/settings.tailwind.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__debug_bin*

vendor
pb_data
build
main
/ui/dist/*
!/ui/dist/.gitkeep
./dist
./certimate
/docker/data
/go
/ms-playwright-go
go1.22.0.windows-amd64.zip
go1.22.0.windows-amd64.msi
certimate.exe
